<ion-content [fullscreen]="true" *ngFor="let ucet of ucty$ | async">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>

  </ion-header>
  <ion-row style="border-bottom: groove;">
      <ion-col col-4>
      <ion-label >ID</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label >Suma</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label >Typ</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label >Detail</ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="border-bottom: groove;" *ngFor="let transakcia of dataSource">
      <ion-col col-4>
				  <ion-label >{{transakcia.id}}</ion-label>
    </ion-col>
    <ion-col col-4>
				<ion-label style="color: {{transakcia.jeToPrijem ? 'green;' : 'red;' }}">{{transakcia.suma}}</ion-label>
    </ion-col>
      <ion-col col-4>
				  <ion-label >{{vratMenoTypu(transakcia.typ)}}</ion-label>
    </ion-col>

      <ion-col col-4>
				  <ion-label > <ion-button [routerLink]="['transakcia/', transakcia.id]"><ion-icon name="arrow-forward"></ion-icon></ion-button></ion-label>

    </ion-col>

  </ion-row>
  <ion-grid>
			 <ion-row>
					<ion-col>
							  <ion-button [routerLink]="['platba/']">Platba</ion-button> 
					</ion-col>

					<ion-col>
							  <ion-button [routerLink]="['reporty/']">Reporty</ion-button> 
					</ion-col>
			 </ion-row>

  </ion-grid>
</ion-content>
